    /* Resetting default margin and padding */
        * {
            margin: 0;
            padding: 0;
            box-sizing:border-box;
        }

        /* Global Styles */
        body {
            font-family: Arial, sans-serif;
            background-color: white;
            padding: 20px;
            box-shadow: inset;
        }
        .container {
            max-width: 1200px;
            height:2650px;
            background-color: whitesmoke;
            border: 1px solid black;
            margin: 0 auto;
            border-color: #333;
            box-shadow: #333;
        }

        /* Header Styles */
        header { 
            text-align: center;
            margin-bottom: 20px;
        }

        header h1 {
            font-size: 20px;
            margin-bottom: 20px;
            margin-top: 30px;
            padding: 10px;
            padding:  0 25px 0 25px;
            color: #fff;
            background-color:  #db0bf694;
            border-radius: 10px;
            display: inline-block;
        }
        .company{
            margin-top: 130px;
            margin-bottom: 20px;
        }
        .paragraph{
            margin-left: 160px;
            margin-right: 100px;
            margin-bottom: 10px;
            font-size: x-large;
            font-weight: 500;

        }
        .p{
            margin-left: 250px;
            color: rgba(225, 0, 255, 0.71);
        }
        .sales{
            margin-top: 20px;
            margin-right: 30px;
        }
        h2{
            margin: 10px;
            padding: 10px;
            margin-left: 490px;
        }
        h3{
            font-size: x-large;
            margin: 5px;
        }
        h4{
            color: #db0bf694;
            margin-left: 10px;
        }
        /* Team Member Card Styles */
        .team {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .team-members{
            width: 300px;
            margin: 20px;
            padding: 20px;
            text-align: center;
        }
        .team-member {
            width: 250px;
            margin: 20px;
            padding: 10px;
            text-align: center;
        }

        .team-member h3 {
            font-size: 20px;
            color: #333;
            margin-bottom: 10px;
        }

        .team-member p {
            font-size: 16px;
            color: #666;
            margin-bottom: 20px;
        }
        img{
            width: 180px;
            border-radius: 80%;
        }
        .box{
            width: 100px;
            background-color:  #db0bf694;
            height: 20vh;
            margin-left: 1100px;
            justify-content: center;
            display: flex;
            justify-content: center;
            position: absolute;
        }
        .box1{
            width: 100px;
            background-color:  #db0bf694;
            height: 20vh;
            margin-right: 1100px;
            margin-top: 569px;
            justify-content: center;
            display: flex;
            justify-content: center;
            position: absolute;
        }